/* .dashboard {
    background-color: purple;
} */

.heading {
    color: white;
    padding: 48px 24px;
    position: relative;
}
.heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #333;
}
.heading > h1 {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -.05rem;
    max-width: 1200px;
    margin: 0 auto;
}
.main_wrapper {
    width: 100%;
    padding: 0 24px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 48px auto 0;
}

.nav {
    color: #888888;
    margin-right: 24px;
    flex: 1;
    min-width: 204px;
    position: sticky;
    top: 60px;
}
.nav > ul {
    display: flex;
    flex-direction: column;
}
.nav > ul li:not(.team, .account) {
    margin-left: -12px;
    margin-right: 24px;
    letter-spacing: -.025rem;
}
.nav > ul li a {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
}
.nav > ul li a:hover,
.nav > ul li a:focus {
    background-color: #333333;
    color: white;
}
.nav > ul li a.active {
    color: white;
}

.nav .img {
    background: linear-gradient(to top left, purple, aqua);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.nav .team,
.nav .account {
    display: flex;
    align-items: center;
    gap: 7.5px;
}
.nav .team {
    margin: 0 0 16px;
}
.nav .account {
    margin: 32px 0 16px;
}
.nav .team > span,
.nav .account > span {
    text-transform: uppercase;
    line-height: 2;
    font-size: .8rem;
    font-weight: bold;
}

.content {
    /* background-color: brown; */
    flex-grow: 1;
    min-height: 2000px;
}
.content .wrapper {
    background-color: darkgray;
}

.setbtn {
    display: none;
}


@media (max-width: 960px) {
    .main {
        margin-top: 0;
    }
    
    .setbtn {
        background-color: black;
        padding: 24px 0;
        display: block;
        border-bottom: 1px solid #333;
    }

    .nav .team,
    .nav .account {
        display: none;
    }
    .nav > ul li:nth-last-of-type(3) {
        order: 1;
    }

    .nav {
        display: none;
        margin-right: 0;
    }

    .nav:global(.active) {
        display: block;
        max-width: 100%;
    }

    .nav:global(.active) + div {
        display: none;
    }

    .nav > ul li:not(.team, .account) {
        margin-left: 0;
        margin-right: 0;
        border-radius: 6px;
        letter-spacing: -.025rem;
    }

    .nav > ul li:not(.team, .account):hover {
        background-color: transparent;
        color: inherit;
    }

    .nav > ul li a {
        display: inline-block;
        width: 100%;
        padding: 24px 0;
        color: white;
        border-bottom: 1px solid #333;
        border-radius: 0;
    }
    .nav > ul li a:hover,
    .nav > ul li a:focus {
        background-color: transparent;
    }

    .content > div {
        padding-top: 24px;
    }
}

@media (min-width: 1250px) {
    .nav {
        max-width: 264px;
    }
    .content,
    .content .wrapper {
        max-width: 912px;
    }
}